.aboutWrapper{
    display: flex;
    flex-flow: column wrap;
    z-index: 1;
    position: relative;
    padding: 3rem 0 2rem;
    
}

.aboutMarginBottom{
    margin-bottom: 7rem;
}

.aboutBody{
    padding-bottom: 2rem;
    p{
        text-align: left;
        margin-bottom: 1rem;
        color: $color-mediumBlue;
        font-size: 1.25rem;
        line-height: 2rem;
        letter-spacing: -0.03rem;
        max-width: 75%;
        }

}

    .about-bg-block{
        position: absolute;
        left: 0%;
        top:5%;
        right: auto;
        bottom: auto;
        margin-left: -20rem;
        width: 85%;
        min-height: 100%;
        border-top-right-radius: 55px;
        border-bottom-right-radius: 55px;
        background-color: $color-lilacWhite;
        z-index: -2;
        object-fit: fill;
        opacity: 75%;
    }

    
    @media screen and (min-width: 699px) and (max-width: 1300px){
        .aboutWrapper{
            margin: 3rem 7rem 5rem;
            padding-top: 1rem;
        }


        .about-bg-block{
            top:2%;
            margin-left: -10rem;
            width: 95%;
        }
        

        .aboutBody{
            padding-bottom: 2rem;
            p{
                max-width: 100%;
                }
        }
    }

    @media screen and (max-width: 698px){
        .aboutWrapper{
            margin: 3rem 0 5rem;
            padding-top: 0;
        }
        .aboutInnerWrapper{
            margin: 0 2rem;
        }
        .about-bg-block{
            display: none;
        }

        .aboutBody{
            padding-bottom: 2rem;
            p{
                max-width: 100%;
                }
        }
    }


    @media screen and (min-width: 2000px){
        .about-bg-block{
            margin-left: -50vw;
            width: 160%;
        }

    }