.aboutWrapper{
    display: flex;
    flex-flow: column wrap;
    z-index: 1;
    position: relative;
    padding-top:3rem;
}

.aboutMarginBottom{
    margin-bottom: 7rem;
}

.aboutBody{
    padding-bottom: 1rem;
    p{
        text-align: left;
        margin-bottom: 1rem;
        color: $color-mediumBlue;
        font-size: 1.25rem;
        line-height: 2rem;
        letter-spacing: -0.03rem;
        max-width: 75%;
        }

}

    .about-bg-block{
        position: absolute;
        left: 0%;
        top:5%;
        right: auto;
        bottom: auto;
        margin-left: -15rem;
        z-index: -1;
        width: 85%;
        min-height: 100%;
        border-top-right-radius: 55px;
        border-bottom-right-radius: 55px;
        background-color: $color-lilacWhite;
        z-index: -2;
        object-fit: fill;
        opacity: 75%;
    }


    @media screen and (max-width: 800px){
        .aboutWrapper{
            margin: 3rem 2rem 5rem 2rem;
            padding-top: 0;
        }


        .about-bg-block{
            display: none;
        }

        .aboutBody{
            padding-bottom: 2rem;
            p{
                max-width: 100%;
                }
        }
    }

    @media screen and (min-width: 1919px){
        .about-bg-block{
            left: -5%;
        }
    }

    @media screen and (min-width: 2000px){
        .aboutInnerWrapper{
            margin: 0 11vw;
        }
    }