.aboutWrapper{
    display: flex;
    flex-flow: column wrap;
    z-index: -1;
    position: relative;
}

.aboutBody{
    padding-bottom: 5rem;
    p{
        text-align: left;
        margin-bottom: .25rem;
        color: $color-mediumBlue;
        font-size: 1.25rem;
        line-height: 2rem;
        letter-spacing: -0.03rem;
        max-width: 75%;
        }

}

.about-bg-block{
    position: absolute;
    left: 0%;
    top:0%;
    right: auto;
    bottom: auto;
    margin-left: -15rem;
    z-index: -1;
    width: 85%;
    min-height: 100%;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
    background-color: $color-lilacWhite;
    z-index: -2;
    object-fit: fill;
    opacity: 75%;
}


@media screen and (max-width: 499px){
    .aboutWrapper{
        margin: 3rem 2rem 1.5rem 2rem;
    }

    .about-bg-block{
        display: none;
    }

    .aboutBody{
        padding-bottom: 1rem;
        
        p{
            max-width: 100%;
            }
    
    }

}