    .expCards{
        margin: 5rem 10rem 2rem 10rem;
        display: flex;
        flex-flow: row wrap;
        gap: 20px 20px;
        justify-content: space-between;
    }

    .card{
        display: flex;
        flex-flow: column nowrap;
        background-color: $color-lilacWhite;
        border-radius: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 30px 0px;
        min-width: 325px;
        max-width: 500px;
        z-index: 0;
        

        a{
            color: $color-skyBlue;
            text-decoration: underline;
            font-size: 1.25rem;
            font-weight: bold;
            line-height: 1.5rem;
            margin: 0;
        }

        h4{
            color: $color-darkBlue;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 2.5rem;
            margin: 2px 0 2px 0;
        }

        p{
            font-size: 1rem;
            line-height: 1.5rem;
           
        }

        span{
            color: $color-lightGreyBlue;
        }

        .icon{
            width: 130px;
            height: 130px;
            position: relative;
            overflow: auto;
            z-index: 1;
        }

        .line{
            max-width: 30px;
            margin: 30px 0 20px 0;
        }
        
    }

    @media screen and (max-width: 499px) {
        .expCards{
            justify-content: center;
            margin: 0;
        }
        .card{
            margin: 0;
        }
    }
