    .experienceSection{
        display: flex;
        flex-flow: column wrap;
        flex-basis: 4rem;
        flex-grow: 1;
        flex-shrink: 1;
        
        justify-content: space-between;
        align-content: center;
        text-align: center;
        
        gap: 1rem 1rem;
        margin-bottom: 5rem;

        h1{
            margin: .5rem 0 .5rem 0;
            padding: 0;
            
        }

        h2{
            margin: .5rem 0 .5rem 0;;
            padding: 0;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    .expCards{
        margin: 0 10rem 2rem 10rem;
        padding-top: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        // display: flex;
        // flex-flow: row wrap;
        gap: 1rem 1rem;
        justify-content: space-between;
        align-content: center;
    }

    .cardBlock{
        display: flex;
        flex-flow: column nowrap;
        padding: 0 2rem 1.5rem 2rem;
        justify-content: flex-start;
        align-items:center;
        background-color: white;
        border-radius: 16px;
        text-align: center;

    }
    
    .card{
        position: relative;
        top: -50px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        // min-width: 325px;
        // max-width: 500px;
        

        a{
            color: $color-skyBlue;
            text-decoration: underline;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1.5rem;
            margin: 0;
        }

        h4{
            color: $color-darkBlue;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 2.5rem;
            margin: 2px 0 2px 0;
        }

        p{
            font-size: 1rem;
            line-height: 1.5rem;
           
        }

        span{
            color: $color-lightGreyBlue;
        }

        .icon{
            width: 100px;
            height: 100px;
            margin-bottom: 1rem;
            border-radius: 100px;
            box-shadow: -1px 40px 80px 0 rgba(85, 82, 124, 0.25);
        }

        .line{
            max-width: 30px;
            margin: 30px 0 20px 0;
        }
        
    }

    @media screen and (max-width: 499px) {
        .experienceSection{
            margin-bottom: 1rem;
        }
        .expCards{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-content: center;
            gap: 5rem 1rem;
            margin: 0 1rem 0 1rem;
        }
        .cardBlock{
            flex-flow: column wrap;
        }
        .card{
            margin: 0;
            flex-flow: column wrap;


            p{
                font-size: 1.25rem;
                line-height: 1.5rem;
            }

            h4{
                font-size: 1.75rem;
                line-height: 1.75rem; 
            }
        }
    }

//     //margin media query
// @media screen and (max-width: 1399px){
//     .expCards{
//         margin: 0rem 5rem 1.5rem 5rem;
//     }
// }

// //margin media query
// @media screen and (max-width: 1920px){
//     .expCards{
//         margin: 0rem 5rem 1.5rem 5rem;
//     }
// }
