  .mask{
    --svg: url(/Images/drips-alpha-short.svg);
    background-color: white;
    height: 186px;
    width: 99vw;
    opacity: 1;

    mask-image: var(--svg);
    -webkit-mask-image: var(--svg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .experienceSection{
        display: flex;
        flex-flow: column wrap;
        flex-basis: 4rem;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100vw;
        
        
        justify-content: space-between;
        align-content: center;
        text-align: center;
        margin-top: 5rem;
        
        gap: 0 1rem;
        
    
        h1{
            margin: .5rem 0 .5rem 0;
            padding: 0;
            
        }

        h2{
            margin: .5rem 0 .5rem 0;;
            padding: 0;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    .expCards{
        
        // margin-bottom: 2rem;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        
        gap: 1rem 1rem;
        justify-content: space-between;
        align-content: center;
        margin: 5rem 15rem;
    }

    .cardBlock{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items:center;

        padding: 0 1.5rem;
        margin: 0 2rem;

        background-color: white;
        border-radius: 16px;
        text-align: center;

    }
    
    .card{
        position: relative;
        top: -50px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        
        a{
            color: $color-skyBlue;
            text-decoration: underline;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1.5rem;
            margin: 0;
        }

        h4{
            color: $color-darkBlue;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 2.5rem;
            margin: 2px 0 2px 0;
        }

        p{
            font-size: 1rem;
            line-height: 1.5rem;
           
        }

        span{
            color: $color-lightGreyBlue;
        }

        a:hover{
            color: $color-darkBlue;
        }

        .icon{
            width: 100px;
            height: 100px;
            margin-bottom: 1rem;
            border-radius: 100px;
            box-shadow: -1px 40px 80px 0 rgba(85, 82, 124, 0.25);
        }

        #icon{
            width: 100px;
            height: 100px;
            margin-bottom: 1rem;
            border-radius: 100px;
            box-shadow: -1px 40px 80px 0 rgba(85, 82, 124, 0.25);
        }
        
    }

    @media screen and (min-width: 699px) and (max-width: 1024px){
        .mask{
            max-width: 98vw;
        }
        .experienceSection{
            margin: 0 0 1rem 0;
        }

        .expCards{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-content: center;
            gap: 5rem 1rem;
            margin: 4rem;
        }
        .cardBlock{
            flex-flow: column wrap;
            margin: 0 1rem;
            padding: 0;
        }
        .card{
            margin: 0 .5rem;
            flex-flow: column wrap;
            min-width: 0;

            p{
                font-size: 1.25rem;
                line-height: 1.5rem;
                padding: 0 .5rem;
                
            }

            h4{
                font-size: 1.75rem;
                line-height: 1.75rem;
            }
        }
    }

    @media screen and (max-width: 698px){
        .mask{
            max-width: 97vw;
        }
        .experienceSection{
            margin: 0 0 1rem 0;
        }

        .expCards{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-content: center;
            gap: 5rem 1rem;
            margin: 4rem 1rem ;
        }
        .cardBlock{
            flex-flow: column wrap;
            margin: 0 1rem;
            padding: 0;
        }
        .card{
            margin: 0 .5rem;
            flex-flow: column wrap;
            min-width: 0;

            p{
                font-size: 1.25rem;
                line-height: 1.5rem;
                padding: 0 .5rem;
                
            }

            h4{
                font-size: 1.75rem;
                line-height: 1.75rem;
            }
        }
    }

    @media screen and (min-width: 2000px){
        .expCards{
            margin: 5rem 25vw;
        }
    }