    footer{
    display: flex;
    flex-flow: column nowrap;
    margin: 3rem 0 1rem;
    font-family: $font-body;
    font-size: 1rem;
    line-height: 1rem;
    color: $color-darkBlue;
    text-align: center;
    justify-content: center;
    gap: 1rem;

    ul{
        margin-bottom: 1.5rem;
    }

    p{
        text-align: center;
    }

    .footerMenuLinks{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        gap: 4rem;

        font-size: 1rem;
        color: $color-darkBlue;
        list-style: none;

        a{
            text-decoration: none;
            color: $color-darkBlue;
        }

        a:hover{
            color: $color-skyBlue;
        }
    }
}
.pinkDots{
    display: inline-block;
    position: absolute;
    max-width: 25vw;
    z-index: 1;
    left: 10vw;
    bottom: 20vh;
}

@media screen and (min-width: 1025px) and (max-width: 1999px){
    .pinkDots{
        // display: inline-block;
        // position: absolute;
        max-width: 25vw;
        z-index: 1;
        left: 1vw;
        bottom: 10vh;
    }
}

@media screen and (min-width: 699px) and (max-width: 1024px){
    footer{
        margin: 2.5rem 1rem 0;
        gap: .25vw;
        justify-content: space-around;

        .footerMenuLinks{
            display: flex;
            flex-flow: row wrap;
            align-content: center;
            justify-content: center;
            gap: 2rem;
    
            font-size: 1rem;
            color: $color-darkBlue;
            list-style: none;
    
            padding: 0;
            
            a{
                text-decoration: none;
                color: $color-darkBlue;
            }
    
            a:hover{
                color: $color-skyBlue;
            }
        }
    }
   
}


@media screen and (max-width: 698px){
   
        footer{
            flex-flow: column nowrap;
            margin: 2.5rem .5rem 0;
            gap: .25vw;
            justify-content: space-around;
            padding: 0 .5rem;

            .footerMenuLinks{
                display: flex;
                flex-flow: row wrap;
                align-content: center;
                justify-content: center;
                gap: 1.25rem;
        
                font-size: 1rem;
                color: $color-darkBlue;
                list-style: none;
                
                padding: 0;
                
                a{
                    text-decoration: none;
                    color: $color-darkBlue;
                }
        
                a:hover{
                    color: $color-skyBlue;
                }
            }
        }
        
      
}

   