
html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Karla', sans-serif;
    
    background-color: $color-background;

    //scroll top code
    position: relative;

    // *:last-child {
    //     margin-bottom: 0;
    // }

}

h2{
    font-family: $font-title;
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: 2px;
    color: $color-lightGreyBlue;
}

h1{
    font-family: $font-title;
    font-size: 4rem;
    line-height: 4rem;
    color: $color-darkBlue;
}

p{
    font-family: $font-body;
    font-size: 1rem;
    line-height: 1rem;
    color: $color-lightGreyBlue;
}

    .pink{
    // margin: 50px 0 25px 0;
    background-color: $color-snowPink;
    }

    .subWrapper{
        display: flex;
        flex-flow: row wrap;
        gap: 1rem 1rem;
        // position: relative;
        // margin: 5rem;
        // padding: 5rem 0 5rem 0;
    }

    .contentWrap{
        margin: 3rem 15rem;
        
    }

    .sectionTitle{
        display: flex;
        flex-flow: column wrap;
        flex-basis: 4rem;
        flex-grow: 1;
        flex-shrink: 1;
        
        justify-content: space-between;
        align-content: center;
        text-align: center;
        
        gap: 1rem 1rem;
        margin-top: 5rem;
        margin-bottom: 3rem;

        h1{
            margin: .5rem 0 .5rem 0;
            padding: 0;
            
        }

        h2{
            margin: .5rem 0 .5rem 0;;
            padding: 0;
            text-transform: uppercase;
            
        }

    }

    $scrollLength: 100vh;

    .scrollUpWrapper{
    // uncomment to visualize "track"
    //outline: 1px solid red;
    position: absolute;
    top: $scrollLength;
    right: 0.25rem;
    bottom: -5em;
    width: 3em;
    pointer-events: none;
    }

    .scrollUpLink{
    position: fixed;
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 5rem);

    display: inline-block;
    text-decoration: none;
    font-family: $font-title;
    color: $color-darkBlue;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $color-lilacWhite;
    padding: 0.25rem;
    }
    
    .footerInfo{
        font-family: $font-body;
        font-size: 1rem;
        line-height: 1rem;
        color: $color-darkBlue;
        text-align: center;

        ul{
            margin-bottom: 3rem;
        }
    }

    @media screen and (prefers-reduced-motion: no-preference) {
        html {
          scroll-behavior: smooth;
        }
      }

    @media screen and (max-width: 499px) {
        .sectionTitle{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }



//resources

//https://animate.style/

//https://css-tricks.com/aos-css-driven-scroll-animation-library/ 

//https://codepen.io/mafevito/pen/oNjQNvy

//scroll up
//https://moderncss.dev/pure-css-smooth-scroll-back-to-top/

//template
//https://nero-portfolio.webflow.io/
