
html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Karla', sans-serif;
    font-size: 1vw;
    line-height: 1.3vw;
    background-color: $color-background;
    background-image: url('/Images/img_Circle.svg');
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 0;
    
}

.mainHeader{

    margin: 10vh 20vh 0 20vh;
    display: grid;
    grid: 2fr 1.5fr / 1.5fr 2fr;
    grid-template-areas: 
        "heading cartoon"
        "intro cartoon";
    
    justify-self: center;
    align-self: center;

    h1{
        font-family: $font-title;
        color: $color-darkBlue;
        font-size: 5vw;
        line-height: 5vw;
        font-weight: bold;
        grid-area: heading;

        span{
            color:$color-skyBlue;
        }
    }


    p{
        font-family: $font-body;
        color: $color-mediumBlue;
        font-size:1.25vw;
        line-height: 2vw;
        grid-area: intro;
        
    }

    .cartoonMe{
        padding: 5vh 5vw 5vh 15vw;
        grid-area: cartoon;
        min-height: 30vh;
        max-height: 60vh;
        justify-self: center;
    }
    
}

    .expertise{
        display: grid;
        margin: 0 10vw 0 10vw;
        grid: 1fr / 2fr;
        justify-items: center;

    h2{
        font-family: $font-title;
        font-size: 2vw;
        color: $color-lightGreyBlue;
    }

    h1{
        font-family: $font-title;
        font-size: 4vw;
        color: $color-darkBlue;
    }
}



