    header{
    background-color: $color-background;
    color: $color-darkBlue;
    margin: 2rem 15rem 3.5rem 15rem;
    }

    .hamburger{
        background-color: transparent;
        border: 0;
        color: $color-darkBlue;
        font-size: 1.25rem;
        cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;
        display: none;
    }

    .hamburger:focus{
        outline: none;
    }

    nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
 }

    .nav-ul{
        display: flex;
        padding: 0;
        list-style-type: none;
        font-size: 1.25rem;

        li a{
            display: inline-block;
            color: $color-darkBlue;
            font-family: $font-body;
            padding: .75rem 1.2rem;
            text-decoration: none;
            cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;

        }

        a:hover{
            color: $color-skyBlue;
        }

        
        ul{
            position: absolute;
            padding: 0;
            display: none;
            list-style-type: none;
        }

        li:hover ul ul {
            display: none;
            
        }
        li:hover ul {
            display: block;
            background-color: $color-snowPink;
        }

        li li:hover ul {
            display: block;
            margin-left: 1rem;
            margin-top: -2rem;
            
        }
}

//media queries

    @media screen and (max-width: 999px){
        header{
            margin: 1rem;
        }
        nav{
            justify-content: flex-end;
        }
        .nav-ul{
            display: none;
            width: 100%;
            flex-flow: column wrap;
            text-align: center;
        }

        .nav-ul.show{
            display: flex;
            margin-top: 1rem;
        }

        .hamburger{
            display:block;
        }
    }