header{
    // display: grid;
    // grid-template-columns: 50vw repeat(auto-fill, minmax(150px, 1fr));
    // grid-template-rows: auto;
    // grid-gap: 5px;
    background-color: $color-background;
    color: $color-darkBlue;

    .wrapper{
    display: flex;
    flex-flow: column wrap;

    justify-content: space-between;
    margin: .5rem;
    }

    li{
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: bold;
        color: $color-darkBlue;
        text-align: center;
        list-style-type: none;

        a{
            text-decoration: none;
            color: $color-darkBlue;
        }
    }



//images

.logo{
    width: 100px;
    align-self: center;

}

.circleAccent{
background-image: url('/Images/img_Circle.svg');
background-position: top right;
background-repeat: no-repeat;
// display: overflow;

}

//media queries

@media screen and (max-width: 499px){
    header{
        flex-flow: column nowrap;
    }

    .wrapper{
        margin: 0;
        padding: 0;
    }

    ul{
        padding: 0;
    }

    .logo{
        display:none;
    }
}

}
