.portfolioWrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5rem;

    ul{
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-family: $font-body;
        margin: 0;
        padding-bottom: 1.5rem;
    }
}

.skills-tools-left{
    background-color: $color-lilacWhite;
    max-width: 30%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}

.portfolioMainContent{
    background-color: $color-background;
    max-width: 70%;
    margin-left: 5rem;

    h1{
        margin:0;
    }

    p{
        color: $color-darkBlue;
        font-size: 1.25rem;
        line-height: 2rem;
        
    }
}

.imageGrid{
    grid-gap: 2rem;
    margin-top: 4rem;

    display: flex;
    flex-flow: column wrap;
    
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    max-height: 1000px;
    // position: relative;
    // z-index: -1;

    img{
        height: auto;
        max-width: 20vw;
        flex-basis: auto;
        border-radius: 16px;
        
    }
    
}

    

.skillsTitle{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 4rem;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 1rem 1rem;
    padding: .5rem 0 .5rem 0;

        h2{
            margin: .5rem 0 .5rem 0;
            padding: 0;
            font-size: 2rem;
            line-height: 2rem;
            color: $color-darkBlue;
        }
}

.pinkDots-portfolio{
    display: inline-block;
    position: absolute;
    max-width: 100%;
    z-index: 1;
    left: 10vw;
    bottom: 45vh;
}

@media screen and (max-width: 499px){
    .portfolioWrapper{
        margin: 2rem 1rem;
        flex-flow: column wrap;
        justify-content: center;
    }

    .portfolioMainContent{
        max-width: 100%;
        margin: 2rem 0 0 0;
        h1{
            font-size: 2.5rem;
            line-height: 2.75rem;
        }
    }

    .skills-tools-left{
        max-width: 100%;
    }

    .imageGrid{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        gap: 1rem;
    }

    .pinkDots-portfolio{
        display: none;
    }
}