.portfolioWrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5rem;

    ul{
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-family: $font-body;
        margin: 0;
        padding-bottom: 1.5rem;
    }
}

.hobbiesWrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 5rem 0;
    
    gap: 0 4rem;

    ul{
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-family: $font-body;
        margin: 0;
        padding-bottom: 1.5rem;
    }
}

.skills-tools-left{
    background-color: $color-lilacWhite;
    max-width: 30%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}

.hobbies-movies{
    background-color: $color-lilacWhite;
    max-width: 30%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}

.hobbies-music{
    background-color: $color-snowPink;
    max-width: 30%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.hobbies-games{
    background-color: $color-babyBlue;
    max-width: 30%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.hobbies-books{
    background-color: #fff4e4;
    max-width: 30%;
    padding: 1.5rem 1.5rem 0 1.5rem;
    
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.portfolioMainContent{
    background-color: $color-background;
    max-width: 70%;
    margin-left: 5rem;

    h1{
        margin:0;
    }

    p{
        color: $color-darkBlue;
        font-size: 1.25rem;
        line-height: 2rem;
        
    }
}

.imageGrid{
    grid-gap: 1rem;
    margin-top: 4rem;

    display: flex;
    flex-flow: column wrap;
    
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    max-height: 1000px;
    // position: relative;
    // z-index: -1;

    img{
        height: auto;
        max-width: 20vw;
        flex-basis: auto;
        border-radius: 16px;
    }

    .container{
        padding: 1em 0;
        float: left;
        width: 33%;
      }


        .title{
            color: $color-darkBlue;
            text-align: center;
            margin-bottom: 1rem;
        }

        .content{
            position: relative;
            width: 90%;
            max-width: 20vw;
            margin: auto;
            overflow: hidden;
        }

        .content-overlay{
            background: rgba(0,0,0,0.7);
            border-radius: 16px;
            position: absolute;
            height: 99%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out 0s;
        }

        .content:hover .content-overlay{
            opacity: 1;
          }
          
          .content-image{
            width: 100%;
          }
          
          .content-details {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;

            p{
                color: #fff;
            font-size: 0.8em;}
          }
          
          .content:hover .content-details{
            top: 50%;
            left: 50%;
            opacity: 1;
          }
          
          .content-details h3{
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.15em;
            margin-bottom: 0.5em;
            text-transform: uppercase;
          }
          

          .fadeIn-top{
            top: 20%;
          }
    
    
    }

.skillsTitle{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 4rem;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 1rem 1rem;
    padding: .5rem 0 .5rem 0;

        h2{
            margin: .5rem 0 .5rem 0;
            padding: 0;
            font-size: 2rem;
            line-height: 2rem;
            color: $color-darkBlue;
        }
}

.pinkDots-portfolio{
    display: inline-block;
    position: absolute;
    max-width: 100%;
    z-index: 1;
    left: 10vw;
    bottom: 20vh;
}


@media screen and (max-width: 800px){
    
    .portfolioWrapper{
        margin: 2rem 1rem;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .hobbiesWrapper{
        margin: 2rem 1rem;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .portfolioMainContent{
        max-width: 100%;
        margin: 2rem 0 0 0;

        h1{
            font-size: 2.5rem;
            line-height: 2.75rem;
        }
    }

    .skills-tools-left{
        max-width: 100%;
    }

    .hobbies-movies{
        max-width: 100%;
        margin: .75rem 0;
        
    }
    
    .hobbies-music{
        max-width: 100%;
        margin: .75rem 0;
    }
    
    .hobbies-games{
        max-width: 100%;
        margin: .75rem 0;
    }
    
    .hobbies-books{
        max-width: 100%;
        margin: .75rem 0;
    }

    .imageGrid{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: .5rem 0;
        min-width: 100%;
        max-height: 100%;
        margin: 0;
        

        img{
            max-width: 100vw;
            height: auto;
        }

        .item-order-top{
            order: -1;
        }

        .container{
            padding: 1em 0;
            min-width: 100%;
            float: none;
            

            .content{
                position: relative;
                width: 100%;
                min-width: 90vw;
                margin: auto;
                overflow: hidden;

                .content-overlay{
                    overflow: hidden;
                }

                .content-details {
                    overflow: hidden;
                 }
                .content-image{
                max-width: 100%;
                }
             }
        }
    }

    .pinkDots-portfolio{
        display: none;
    }
}

@media screen and (min-width: 2000px){
    .imageGrid{
        margin: 5rem 7vw;
    }
}

@media screen and (min-width: 1920px){
    .imageGrid{
        margin: 2rem 0;
    }
}