.workIntroTitle{

    h2{
        margin-top: 3rem;
    }
}



/* Style the tab */
.tabWrap{
    background-color: $color-background;
    margin: 3rem 15rem;
}
.tab {
    // overflow: hidden;
    // border: 1px solid #ccc;
    // background-color: transparent;
    // border-bottom-left-radius: 32px;
    // border-bottom-right-radius: 32px;


    .centerButtons{
        display: flex;
        flex-flow: row nowrap;
        justify-self: center;
        // height: 20rem;
    }

    button {
        background-color: $color-background;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;

        border-top-left-radius: 32px;
        border-top-right-radius: 32px;

        padding: 2rem 0;
        transition: 0.3s;
        width: 50%;
        height: 100%;

        font-family: $font-body;
        font-size: 1.25rem;
        font-weight: bold;
        color: $color-darkBlue;

        transition: all .3s ease;
      }


      button:hover {
        // background-color: #ddd;
        transform: scaleY(1.2) translateY(-6px);
      }

      button.active {
        // background-color: inherit;
        transform: scaleY(1.2) translateY(-6px);
        // overflow: visible;
        
      }
  }

 
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 1.5rem 5rem;
    border-top: none;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: $color-background;
    
  }

.pinkBorder{
    border-color: 3px solid $color-snowPink;
    }

.blueBorder{
    border: 3px solid $color-babyBlue;
    }

.contentBorder{
    border-top: none;
}


.pinkBg{
    background-color: $color-snowPink;
    }

.blueBg{
    background-color: $color-babyBlue;
    }


  /* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }
  
.topright:hover {
    color: red;
}

@media screen and (max-width: 499px){

    .tabWrap{
        margin: 3rem 2rem;
    }
    .workIntroTitle{
        margin: 1rem 0 2rem 0;
    }
    .centerButtons{
        display: flex;
        flex-flow: column wrap;
        justify-self: center;
        
    }
}