//Work examples section
.workWrapper{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem 1rem;
    position: relative;
}

.workCollectionWrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: -1;
    margin-bottom: 2rem;
    
}

.workTitle{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 4rem;
    flex-grow: 1;
    flex-shrink: 1;
    
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    
    gap: 1rem 1rem;
    // margin: 5rem;
    margin: 3rem 0rem 3rem 0rem;

    h1{
        margin: .5rem 0 .5rem 0;
        padding: 0;
        
    }

    h2{
        margin: .5rem 0 .5rem 0;;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
    .work-bg-block{
        position: absolute;
        left: auto;
        top: 0%;
        right: 0%;
        bottom: auto;
        margin-right: -15rem;
        z-index: -1;
        width: 80%;
        min-height: 470px;
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        background-color: $color-snowPink;
        z-index: -2;
    }

    
    .projectName{
        color: white;
        font-size: 1.25rem;
        line-height: 1rem;
        letter-spacing: -0.02rem;
    }

    .projectWrap{
        position: relative;
    }

    .projectBlock{
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        
        margin: 20%;
        border-radius: 16px;
        background-color: rgba(85, 82, 124, 0.9);
        text-align: center;

        transform: translate3d(0px, 15px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
        transform-style: preserve-3d;
        opacity: 0;
        transition-property: all;

        .projectBlock:hover & {
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
            transform-style: preserve-3d;
            opacity: 1;
        }
    }

   
    
    
    .projectItem{
        width: 33%;
        height: auto;
        padding: 1rem;
        justify-self: space-between;
        align-content: center;
        text-align: center;
    }

   .projectImage{
        max-width: 350px;
        height:auto;
        border-radius: 20px;
        box-shadow: 10px 0 30px 0 rgba(206, 212, 224, 0.26);
        object-fit: cover;
    }

   

    .buttonPink{
        display: flex;
        align-items: center;
        margin-top: 1rem;
        padding: .5rem 2rem;
        border:2px solid #f8979b;
        border-radius: 12px;
        background: transparent;
        color: #f8979b;
        font-size: 1.25rem;
        text-decoration: none;
        // cursor: pointer;
    }

    .buttonPink:hover {
        border-color: #f66565;
        color: #f66565;
        
    }

    
    @media screen and (max-width: 499px){
        .work-bg-block{
            width: 70%;
            margin: -2rem;
        }

        .workTitle{
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
        flex-shrink: 1;

        h1{
            font-size: 2rem;
            line-height: 2rem;
        }

        h2{
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
        }
        .workWrapper{
            margin: 3rem 2rem 1.5rem 2rem;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
        }

        .workCollectionWrapper{
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            z-index: -1;
            
        }

        .projectItem{
        width:100%;
        height: auto;
        padding: 1rem 0 1rem 0;
        justify-self: center;
        align-content: center;
        text-align: center;
        min-width: 0;
        }

        .projectImage{
            max-width: 100%;
            height: auto;
            border-radius: 20px;
            object-fit: contain;
        }

        .projectBlock{
            position: absolute;
    
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        
            margin: 15%;
            
    
        }
    }