//Work examples section
.workWrapper{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem 1rem;
    position: relative;
    margin: 5rem 0 5rem 0;
    
    // padding: 5rem 0 5rem 0;
}

.workCollectionWrapper{
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: -1;

    // display:flex;
    // gap: 1rem 1rem;
    // justify-items: center;
    // align-content: center;
    // margin: 0;
    // padding: 0;

    // align-self: center;
    // justify-self: center;
    
}
// .workContainer{
//     position: relative;
//     width: 100%;
//     margin-right: 5rem;
//     margin-left: 5rem;
// }
.workTitle{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 4rem;
    flex-grow: 1;
    flex-shrink: 1;
    
    justify-content: centers;
    align-items: flex-start;
    text-align: left;
    
    gap: 1rem 1rem;
    margin: 5rem;

    h1{
        margin: .5rem 0 .5rem 0;
        padding: 0;
        
    }

    h2{
        margin: .5rem 0 .5rem 0;;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

}
    .work-bg-block{
        position: absolute;
        left: auto;
        top: 0%;
        right: 0%;
        bottom: auto;
        z-index: -1;
        width: 70%;
        min-height: 470px;
        border-top-left-radius: 55px;
        border-bottom-left-radius: 55px;
        background-color: $color-snowPink;
        z-index: -2;
    }

    
    .projectName{
        color: white;
        font-size: 1.25rem;
        line-height: 1rem;
        letter-spacing: -0.02rem;
    }

    .projectBlock{
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 4rem 4rem 4rem 4rem;
        // padding: 1.5rem;
        border-radius: 16px;
        background-color: rgba(85, 82, 124, 0.9);
        text-align: center;

        transform: 
        translate3d(0px, 15px, 0px) 
        scale3d(1, 1, 1);  
        // rotateX(0deg) 
        // rotateY(0deg) 
        // rotateZ(0deg) 
        // skew(0deg); 
        transform-style: preserve-3d; 
        // opacity: 0;
    }

    .projectBlock:hover {
        transform: 
        translate3d(0px, 0px, 0px) 
        scale3d(1, 1, 1);
        // rotateX(0deg) 
        // rotateY(0deg) 
        // rotateZ(0deg) 
        // skew(0deg); 
        transform-style: preserve-3d; 
        transition: opacity .55s ease-in;
        }
    

    .projectWrap{
        position: relative;
        // height: 10rem;
    }
    
    .projectItem{
        width: 25%;
        height: auto;
        padding: 1rem;
        justify-self: space-between;
        align-content: center;
        text-align: center;
    }

   .projectImage{
        max-width: 300px;
        border-radius: 20px;
        box-shadow: 10px 0 30px 0 rgba(206, 212, 224, 0.26);
        object-fit: cover;
    }

    .buttonPink{
        display: flex;
        align-items: center;
        margin-top: 1rem;
        padding: .5rem 2rem;
        border:2px solid #f8979b;
        border-radius: 12px;
        background: transparent;
        color: #f8979b;
        font-size: 1.25rem;
        text-decoration: none;

        transition: all 500ms ease;
        cursor: pointer;
    }

    .buttonPink:hover{
        border-color: #f66565;
        color: #f66565;
    }

//about Section
    .bg-block-blue{
        position: absolute;
        left: 0%;
        top:0%;
        right: auto;
        bottom: auto;
        z-index: -1;
        width: 75%;
        height: 100%;
        max-height: 100%;
        border-top-right-radius: 55px;
        border-bottom-right-radius: 55px;
        background-color: $color-lilacWhite;
        object-fit: fill;
    }

    .aboutParagraph{
        margin-bottom: .25rem;
        color: $color-mediumBlue;
        font-size: 1.25rem;
        letter-spacing: -0.03rem;
    }
