html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-family: 'Karla', sans-serif;
  background-color: #FFFFFF;
  background-image: url("/Images/img_Circle.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5vw;
  line-height: 1.5vh;
  color: #b4b2c5;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 4vw;
  line-height: 4vh;
  color: #130F49;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 1vw;
  line-height: 1vh;
  color: #b4b2c5;
}

.mainHero {
  margin: 0 10vw 0 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "heading cartoon" "intro cartoon";
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.mainHero h1 {
  font-family: "Space Grotesk", sans-serif;
  color: #130F49;
  font-size: 5vw;
  line-height: 5vw;
  font-weight: bold;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading;
  margin: 0;
}

.mainHero h1 span {
  color: #34a1cd;
}

.mainHero p {
  font-family: "Karla", sans-serif;
  color: #55527c;
  font-size: 1.25vw;
  line-height: 2vw;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: intro;
}

.mainHero .cartoonMe {
  padding: 0 5vw 0 5vw;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: cartoon;
  min-height: 15vh;
  max-height: 45vh;
  -ms-grid-column-align: start;
      justify-self: start;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1vh 1vh;
  margin: 5vh 0 5vh 0;
  padding: 5vh 0 5vh 0;
}

.sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-preferred-size: 4vh;
      flex-basis: 4vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  gap: 1vh 1vh;
  margin-bottom: 5vh;
}

.sectionTitle h1 {
  margin: 1vh 0 1vh 0;
  padding: 0;
}

.sectionTitle h2 {
  margin: 1vh 0 1vh 0;
  padding: 0;
}

.pink {
  background-color: #fff5f6;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50vw (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: 50vw repeat(auto-fill, minmax(150px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 5px;
  background-color: #FFFFFF;
  color: #130F49;
}

header .logo {
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 999px) {
  header .logo {
    width: 150px;
  }
}

header .circleAccent {
  background-image: url("/Images/img_Circle.svg");
  background-position: top right;
  background-repeat: no-repeat;
  display: overflow;
}

header a {
  font-size: 1.5vw;
  text-decoration: none;
  font-weight: bold;
  color: #130F49;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (min-width: 999px) {
  header {
    padding: 25px 80px;
  }
}

.expCards {
  margin: 2vh 10vw 2vh 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 3vw 3vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #f4f3ff;
  border-radius: 30px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5vh 2.5vw;
  width: 33%;
}

.card a {
  color: #34a1cd;
  text-decoration: none;
}

.card span {
  color: #b4b2c5;
  font-size: 1vh;
}

.card .icon {
  width: 50%;
  height: 50%;
  display: inline-block;
  padding: 1vh 0 1vh 0;
}

.card .line {
  max-width: 2vw;
  max-height: 1vh;
}

.card h4 {
  color: #130F49;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 1vw;
}
/*# sourceMappingURL=style.css.map */