.topNav{
    overflow: hidden;
    background-color: $color-background;
}

.topNav a{
    float: left;
    display: block;
    color: $color-darkBlue;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.25rem;
}

.topNav a:hover{
    background-color: $color-lilacWhite;
    color: $color-darkBlue;
}

.topNav a.active{
    background-color: $color-background;
    color: $color-darkBlue;
}

.topNav .icon{
    display: none;
}

.navIcon {
    height: 25px;
}

@media screen and (max-width: 600px) {
    .topNav a:not(:first-child) {display: none;}
    .topNav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topNav.responsive {position: relative;}
    .topNav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topNav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }